@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    width: 950px;
    display: flex;
    justify-content: space-between;
}

.btn {
    border: 1px solid #3a4753;
    border-radius: .4rem;
    padding: 1.2rem 2.4rem;
    font-weight: 500;
    background: transparent;
    display: block;
    width: 160px;
    margin: 0 auto;
    font-size: 1rem;
    cursor: pointer;
}

.btn-blue {
    background-color: #0ea2bd;
    border: none;
    color: #fff;
}

.pricing-box {
    border-radius: 10px;
    width: 300px;
    box-shadow: 10px 10px 20px 12px #3a475330;
}

.blue-box {
    border: #0ea2bd 1px solid;
}

.pricing-header {
    height: 140px;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 1.2rem;
    background: url('../images/pricing-bg.jpg') center center no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-header.blue-header {
    background: url('../images/pricing-bg.jpg') center center no-repeat #0ea2bd;
    background-blend-mode: lighten;
}

.price-heading {
    font-size: 2rem;
    margin-bottom: 1.1rem;
    font-weight: 400;
} 

.price-text {
    font-size: 1.7rem;
    font-weight: 500;
}

.grey-light {
    font-size: 1rem;
}

.pricing-plan {
    padding: 1rem 2rem;
    width: 100%;
}

.pricing-plan .plan li {
    margin-bottom: 1.3rem;
    color: #3a4753;
}

.plan {
    margin: 4rem 0;
}

.strike {
    text-decoration: line-through;
}
